tests/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Epicard (Epicard) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Наименование">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Классификатор (Каталог товаров)"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="КоммерческаяИнформация">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Классификатор"/>
      </xs:sequence>
      <xs:attribute name="ДатаФормирования" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:date">
            <xs:enumeration value="2014-05-07"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсияСхемы" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:enumeration value="2.03"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Классификатор">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Ид"/>
        <xs:element ref="Наименование"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ид">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="27c03ebd-7836-11df-9ac8-90e6bac8c76f"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>